# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.vsprops
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
packages/
*.nupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
